In [ ]:
%pip install pandas

In [24]:
import pandas as pd

In [40]:
cleaned_test = pd.read_csv('data/cleaned_test.csv')
encoded_cleaned_test = pd.read_csv('data/encoded_cleaned_test.csv')
updated = pd.read_csv('data/updated.csv')

In [41]:
cleaned_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           11399 non-null  object
 1   Delivery_person_ID           11399 non-null  object
 2   Delivery_person_Age          10908 non-null  float64
 3   Delivery_person_Ratings      10892 non-null  float64
 4   Restaurant_latitude          11399 non-null  float64
 5   Restaurant_longitude         11399 non-null  float64
 6   Delivery_location_latitude   11399 non-null  float64
 7   Delivery_location_longitude  11399 non-null  float64
 8   Order_Date                   11399 non-null  object
 9   Time_Orderd                  10955 non-null  object
 10  Time_Order_picked            11399 non-null  object
 11  Weather                      11241 non-null  object
 12  Road_traffic_density         11245 non-null  object
 13  Vehicle_condition            11399 non-null  int64
 14  Type_of_order                11399 non-null  object
 15  Type_of_vehicle              11399 non-null  object
 16  multiple_deliveries          11161 non-null  float64
 17  Festival                     11334 non-null  object
 18  City                         11075 non-null  object
 19  Name:                        11399 non-null  object
dtypes: float64(7), int64(1), object(12)
memory usage: 1.7+ MB

In [27]:

encoded_cleaned_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11399 entries, 0 to 11398
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   ID                           11399 non-null  object
 1   Delivery_person_ID           11399 non-null  object
 2   Delivery_person_Age          10908 non-null  float64
 3   Delivery_person_Ratings      10892 non-null  float64
 4   Restaurant_latitude          11399 non-null  float64
 5   Restaurant_longitude         11399 non-null  float64
 6   Delivery_location_latitude   11399 non-null  float64
 7   Delivery_location_longitude  11399 non-null  float64
 8   Order_Date                   11399 non-null  object
 9   Time_Orderd                  10955 non-null  object
 10  Time_Order_picked            11399 non-null  object
 11  Weather                      11399 non-null  int64
 12  Road_traffic_density         11399 non-null  int64
 13  Vehicle_condition            11399 non-null  int64
 14  Type_of_order                11399 non-null  int64
 15  Type_of_vehicle              11399 non-null  object
 16  multiple_deliveries          11161 non-null  float64
 17  Festival                     11334 non-null  float64
 18  City                         11399 non-null  object
 19  Name:                        11399 non-null  object
dtypes: float64(8), int64(4), object(8)
memory usage: 1.7+ MB

In [21]:
updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2442 entries, 0 to 2441
Data columns (total 20 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   2442 non-null   int64
 1   ID                           2442 non-null   object
 2   Delivery_person_ID           2442 non-null   object
 3   Delivery_person_Age          2442 non-null   int64
 4   Delivery_person_Ratings      2348 non-null   float64
 5   Restaurant_latitude          2442 non-null   float64
 6   Restaurant_longitude         2442 non-null   float64
 7   Delivery_location_latitude   2442 non-null   float64
 8   Delivery_location_longitude  2442 non-null   float64
 9   Time_Orderd                  2353 non-null   object
 10  Time_Order_picked            2442 non-null   object
 11  Weatherconditions            2442 non-null   int64
 12  Road_traffic_density         2442 non-null   int64
 13  Vehicle_condition            2442 non-null   int64
 14  Type_of_order                2442 non-null   int64
 15  Type_of_vehicle              2442 non-null   int64
 16  multiple_deliveries          2388 non-null   float64
 17  Festival                     2442 non-null   int64
 18  City                         2442 non-null   int64
 19  Time_taken(min)              2442 non-null   float64
dtypes: float64(7), int64(9), object(4)
memory usage: 381.7+ KB

In [42]:
encoded_cleaned_test.isnull().sum()

ID                               0
Delivery_person_ID               0
Delivery_person_Age            491
Delivery_person_Ratings        507
Restaurant_latitude              0
Restaurant_longitude             0
Delivery_location_latitude       0
Delivery_location_longitude      0
Order_Date                       0
Time_Orderd                    444
Time_Order_picked                0
Weather                          0
Road_traffic_density             0
Vehicle_condition                0
Type_of_order                    0
Type_of_vehicle                  0
multiple_deliveries            238
Festival                        65
City                             0
Name:                            0
dtype: int64

In [43]:
encoded_cleaned_test.shape

(11399, 20)

In [44]:
columns_to_remove = ['Restaurant_latitude', 'Restaurant_longitude', 'Delivery_location_latitude', 'Delivery_location_longitude', 'Time_Order_picked', 'Weather', 'Vehicle_condition', 'Type_of_vehicle', 'multiple_deliveries', 'Festival', 'Name:', 'City']
encoded_cleaned_test.drop(columns=columns_to_remove, inplace=True)

In [31]:
encoded_cleaned_test.shape

(11399, 8)

In [45]:
encoded_cleaned_test.to_csv('data_preprocessed/encoded_cleaned_resolved.csv', index=False)

In [46]:
columns_to_remove = ['Delivery_person_Age', 'Delivery_person_Ratings']
encoded_cleaned_test.drop(columns=columns_to_remove, inplace=True)

In [47]:
encoded_cleaned_test.to_csv('data_preprocessed/encoded_cleaned_resolved.csv', index=False)

In [48]:
encoded_cleaned_test.isnull().sum()

ID                        0
Delivery_person_ID        0
Order_Date                0
Time_Orderd             444
Road_traffic_density      0
Type_of_order             0
dtype: int64

In [49]:
encoded_cleaned_test.dropna(subset=['Time_Orderd'], inplace=True)
encoded_cleaned_test.shape

(10955, 6)

In [50]:
encoded_cleaned_test.isnull().sum()

ID                      0
Delivery_person_ID      0
Order_Date              0
Time_Orderd             0
Road_traffic_density    0
Type_of_order           0
dtype: int64

In [53]:
encoded_cleaned_test.drop(encoded_cleaned_test[encoded_cleaned_test['Time_Orderd'].apply(lambda x: isinstance(x, float))].index, inplace=True)

In [54]:
encoded_cleaned_test.to_csv('data_preprocessed/encoded_cleaned_resolved.csv', index=False)